.nav {
  display: inline-block;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #7284a8;
}

.left {
  width: 29%;
  float: left;
  background-color: #9e788f;
  height: 1000px;
}

.right {
  width: 70%;
  float: left;
  background-color: #a9b3ce;
  height: 1500px;
}

.top {
  width: 100%;
  height: 500px;
  background-color: #7cdedc;
}

.bottom {
  width: 100%;
  height: 1000px;
  background-color: #9e788f;
}

img {
  display: center;
  padding: 40px;
  padding-top: 20px;
}
